html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Pacifico', cursive;
}
.flip-card {
    position: relative;
    width: 90vw;
    height: 96vh;
    border: 10px solid #FA8072;
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    
}
.flip-card .invite-text {
    width: 80%;
    height: 80%;
    margin: auto;
}

.flip-card .invite-text h2 {
    
    font-size:20px;
    margin: 60px auto 60px auto;
}
.flip-card h2, .flip-card p{
    font-size: 20px;
    line-height: 23px;	
    color: #002366;
    font-style: italic;
    text-align: center;
    margin: 0px auto 0px auto;
}


.flip-card:hover .inner-page {
    transform: perspective(800px) rotateY(-170deg);
    box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 0.3), inset 3px 0px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #FFDAB9;
}
.flip-card .inner-page {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #FA8072;
    margin: -10px 0px 0px -10px;
    backface-visibility: visible;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
    background-color: #FFDAB9;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.logo{
    padding-top: 50px;
    text-align: center;
}
.logo img{
    width: 150px;
    height: auto;
    margin: 0 auto;
}
.first-page {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px 0px 0px -10px;
    border: 10px solid #FA8072;
    backface-visibility: hidden;
    background-color: #FFDAB9;
    background-size: contain;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
}

.flip-card:hover .first-page {
    transform: perspective(800px) rotateY(-170deg);
    background-color: rgb(115-50, 163-50, 191-50);
}

.first-page h1{
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-bottom: 10px;
}
.content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
    text-align: center;
    padding: 0px 10px;
}
.content img{
    width: 100px;
}


