audio{
    position: fixed;
    top: 80vh;
    width: 95%;
    opacity: 0.8;
}
body{
    background: url('./video.gif');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}